/*WE can get font styles at fonts.googlecom
Need not worry if its installed in the user's pc or not
since its already available online
Copy link from the website and add it to html file

font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;

comment ctrl shift /*/


*{								/*UNiversal selector*/
	/*Default Font*/
	font-family: 'Roboto', sans-serif;
}

h1,h2{
	font-family: 'Montserrat', sans-serif; /*seconf dont is the "Fall back font*/
}

img	{
	height: 250px;
	width:	250px;
}

#landing {
	height: 80vh;				/*viewport height*/
	/*center the content, (image, heading and paragraph) 
	horizontally and vertically using felxbox*/
	display: flex;
	flex-direction: column;
	align-items: center;		/*horizontally*/
	justify-content: center;	/*vertically*/
}

#gallery { 						/*pound sign for id*/
	height: 80vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 6px;
	height: 75vh;
	color: white;

}

ul {
	list-style: none;
	padding: 0;
}

h2 {
	color: #007bff;				/*text color*/
}

.tools{ 						/*dot for class*/
	padding: 25px;				/*adds space WITHIN the box*/
	border: 5px solid #f2f2f2;	/*shorthand version*/
	margin: 20px;				/*adds space OUTSIDE the box*/
	height: 200px;
	width: 75%;					/*75% of parent*/
}

html {
	scroll-behavior: smooth;	/*targeting the WHOLE html site*/
}
